[submodule "server"]
	path = server
	url = git@github.com:Soufi-ane/streamcast.git
	branch = main
[submodule "client"]
	path = client
	url = git@github.com:Soufi-ane/streamcast_client.git
	branch = main
