[submodule "server"]
	path = server
  url = https://github.com/Soufi-ane/streamcast.git
	branch = main
[submodule "client"]
	path = client
  url = https://github.com/Soufi-ane/streamcast_client.git
	branch = main
